
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{fragments/layout}">
<head>
<title>Courses</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<div class="card card-default">
						<div class="card-header card-header-border-bottom">
							<h2>Course Form</h2>
						</div>
						<div class="card-body">
						
	<form action="#" th:action="@{/courses}" th:object="${course}" method="post">
	<div class="alert alert-danger alert-highlighted" role="alert" th:if="${#fields.hasErrors()}" th:errors="*">
				<i class="mdi mdi-alert mr-1"></i><span></span>
			</div>
			
			
			
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required="required">
			
		</div>
		
		<div class="form-group blu-margin">
		    <select class="form-control" th:field="${course.program}"  id="dropOperator">
		    <option value="0">Select Program</option>
		    <option th:each="program : ${programs}" th:value="${program.id}" th:text="${program.name}"></option>
		    </select>
		</div>

		<div class="form-footer pt-4 pt-5 mt-4 border-top">
			<button type="submit" class="btn btn-primary btn-default">Submit</button>
		</div>
	</form>
	
	
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
