
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{fragments/layout}">
<head>
<title>Courses</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<div class="card card-default">
						<div class="card-header card-header-border-bottom">
							<h2>Course Form</h2>
						</div>
						<div class="card-body">
						
	<form action="#" th:action="@{/courses}" th:object="${course}" method="post">
	<div class="alert alert-danger alert-highlighted" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				<i class="mdi mdi-alert mr-1"></i><span></span>
			</div>
			
			
			
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
			
		</div>
		<div class="form-footer pt-4 pt-5 mt-4 border-top">
			<button type="submit" class="btn btn-primary btn-default">Submit</button>
		</div>
<!-- 		<table> -->
<!-- 			<tr> -->
<!-- 				<td>Title:</td> -->
<!-- 				<td><input type="text" th:field="*{title}" /></td> -->
<!-- 				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error message</td> -->
<!-- 			</tr> -->
<!-- 			<tr> -->
<!-- 				<td>Content:</td> -->
<!-- 				<td><input type="text" th:field="*{content}" /></td> -->
<!-- 				<td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content error message</td> -->
<!-- 			</tr> -->
<!-- 			<tr> -->
<!-- 				<td><button type="submit">Submit course</button></td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
	</form>
	
	
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
