
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Home</title>
    
</head>
<body>
<div layout:fragment="content" th:remove="tag">  
<!-- start -->
       
          <div class="content">						 
                 


		<div class="span5 col-md-5" id="sandbox-container"><input type="text" class="form-control"></div>			
		
							

					
						

						
</div>


        
        <!-- end -->
        
        </div>
          </body>
</html>
